@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Inter+Tight:wght@300&family=Source+Sans+Pro:wght@600&display=swap');

body {
  background: rgb(34, 36, 42);
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 100vh;
  margin: 0;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  background: black;
  padding-bottom: 25px;
  width: 400px;
  margin: 0 auto;
  border-radius: 20px;
  color: white;
  text-align: center;
}

.Image img{
  width: 400px; 
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
}

.Header {
  /* background: pink;   */
}

#name {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 0;
  font-size: 2.5em;
  margin: 10px;
}

#position {
  font-family: 'Gemunu Libre', sans-serif;
  color: #F3BF99;
  margin-top: 5px;
  font-size: 1.5em;
}

#website {
  text-decoration: none;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3em
}

#btn-container {
  margin: 20px 30px;
  display: flex;
  justify-content: space-between;
}

#email-btn,
#linkedin-btn {
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 1.2em; 
  width: 150px;
  height: 45px;
  border: 0;
  border-radius: 10px;
}

#email-btn i,
#linkedin-btn i{
  margin-right: 10px;
}
#email {
  background: white;
  color: black;
}

#linkedin-btn {
  background: #5093E2;
  color: white;
}

.content {
  font-family: 'Times New Roman', Times, serif;

  padding: 0 30px;
  text-align: left;
}

.App {
  transform: scale(0.5)
}